:root {
    --main: #21354DFD;
    --sec: #176B87;
    --turqoise: #64CCC5;
    --lightTurq: #DAFFFB;
    --purp: #9400FF;
    --lime: #A2FF86;
}

* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--main)
}

.game-board {
    display: flex;
    justify-content: space-around;
    width: 600px;
    border: 1px solid lightcoral;
    margin-top: 10%;
}

.tower {
    width: 30px;
    height: 300px;
    background-color: #333;
    display: flex;
    flex-direction: column-reverse; /* Stack children from the bottom */
    align-items: center; /* Center children horizontally */
    padding-bottom: 10px; /* Some space at the bottom */
}

.controls {
    border: 1px solid blueviolet;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.disk {
    width: 60px;
    height: 30px;
    margin-top: 5px; /* Some space between disks */
    cursor: pointer;
}

#disk1 {
    width: 60px;
    background-color: red;
}

#disk2 {
    width: 90px;
    background-color: green;
}

#disk3 {
    width: 120px;
    background-color: blue;
}

#winBanner {
    width: 563px;
    border-radius: 8px;
    box-shadow: 7px 3px 3px grey;

}