:root {
    --main: #21354DFD;
    --sec: #176B87;
    --turqoise: #64CCC5;
    --lightTurq: #DAFFFB;
    --purp: #9400FF;
    --lime: #A2FF86;
}

@font-face {
    font-family: 'JosefinSans';
    src: url(/fonts/JosefinSans-VariableFont_wght.ttf) format('truetype');
}

* {
    margin: 0;
}

body {
    font-family: 'JosefinSans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--main)
}

h1 {
    display: flex;
    justify-content: center;
    color: var(--lightTurq);
    font-size: 50px;
    font-style: oblique;
    text-shadow: 2px 2px 3px var(--purp);
}

.game-board {
    display: flex;
    justify-content: space-around;
    width: 600px;
    /* border: 1px solid lightcoral; */
    margin-top: 10%;
    /* box-shadow: 0px 0px 20px var(--lime); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    padding: 20px;
}

.tower {
    width: 30px;
    height: 300px;
    background-color: #e7e7e7d0;
    border-radius: 5px;
    border: 3px solid var(--purp);
    display: flex;
    flex-direction: column-reverse; /* Stack children from the bottom */
    align-items: center; /* Center children horizontally */
    padding-bottom: 10px; /* Some space at the bottom */
}

.controls {
    /* border: 1px solid blueviolet; */
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-right: 10px;
}

.disk {
    width: 60px;
    height: 30px;
    margin-top: 5px; /* Some space between disks */
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgb(199, 199, 199);
    transition: all 0.3s ease;
}

#disk1 {
    width: 60px;
    background-image: linear-gradient(to right, #33001b, #ff0084); 
}

#disk2 {
    width: 90px;
    background-image: linear-gradient(to right, #ff9966, #ff5e62);
    /* background-color:dodgerblue; */
}

#disk3 {
    width: 120px;
    /* background-color: blue;
    background-color: var(--lightTurq); */
    background-image: linear-gradient(to right, #00b09b, #96c93d);
}

#disk4 {
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
}

#disk5 {
    background-image: linear-gradient(to right, #0099f7, #f11712);
}

#winBanner {
    width: 563px;
    border-radius: 8px;
    box-shadow: 1px 2px 10px var(--lime);
    background-color: var(--purp);
    color: whitesmoke;
    font-weight: bold;
    margin-top: 20px;
}
 
button {
    font-family: 'JosefinSans', sans-serif;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--purp);
    color: whitesmoke;
    font-size: 18px;
    transition: .2s ease;
    margin-left: 10px;
    margin-right: 10px;
}

button:hover {
    cursor: pointer;
    box-shadow: 2px 1px 1px var(--lime);
    font-size: 19px;
  
}

.disk:hover {
    transform: scale(1.05);
    box-shadow: 1px 2px 10px var(--lime)
}

.jw-modal {
    /* modals are hidden by default */
    display: none;
    width: 300px;
    /* modal container fixed across whole screen */
    position: fixed;
    inset: 0;

    /* z-index must be higher than everything else on the page */
    z-index: 10000;
    
    /* semi-transparent black background exposed by padding */
    background-color: rgba(148, 0, 255, .25);
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    /* enables scrolling for tall modals */
    overflow: auto;
    margin: 50px auto;
}
.jw-modal h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.jw-modal h3 {
    font-size: 20px;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
}

.jw-modal p, .jw-modal ol {
    font-size: 16px;
    color: #777;
    line-height: 1.5;
}

.jw-modal ol {
    margin-left: 20px;
    margin-bottom: 10px;
}

.jw-modal p strong {
    font-weight: bold;
    color: #444;
}

#modalClose {
    margin-top: 10px;
    display: flex;
    margin-left: 70%;
}

.jw-modal.open {
    display: block;
}

.jw-modal-body {
    padding: 20px;
    background: #ffffff;
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}